In [1]:
# Module Importations
from collections import Counter
import datetime
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd 
import seaborn as sns

# Print versioning information
print('seaborn version =', sns.__version__)
print('numpy version =', np.__version__)  
print('pandas version =', pd.__version__)

seaborn version = 0.10.0
numpy version = 1.19.4
pandas version = 1.1.4

In [2]:
# Custom Modules
from Source.data import load_data
from Source.features import data_munging
from Source.visualisation import figures_helper

In [3]:
# Constants
SAVE_FIGURES = True

In [4]:
# Load Dataset
df_plant1 = load_data.load_pickled_data("df_plant1_feat_eng.pkl")
df_plant2 = load_data.load_pickled_data("df_plant2_feat_eng.pkl")

Loading pickled dataframe started ...
Loading pickled dataframe complete ...
Loading pickled dataframe started ...
Loading pickled dataframe complete ...

# Identify Suspect Faulty Panels

An assumption is that panels will have zero output if they are in a fault condition (as opposed to a lower output). This assumption is supported by a working principle of inverters that they will stop producing an output if the input voltage from the connected solar panel falls too low (so partial outputs are unlikely).

Panels with larger numbers of zero-output instances may be faulty.

This can be visualised with a cut-off region.

In [10]:

# Count number of zero instances per cell
zero_outputs = df_plant1[df_plant1['DC_POWER'] == 0].groupby('SOURCE_KEY')['DATE_TIME'].count().reset_index().rename(columns = {'DATE_TIME' : 'ZERO_OUTPUTS'})
zero_outputs.sort_values('ZERO_OUTPUTS', ascending = False)

# Create a grouping of da

         SOURCE_KEY  ZERO_OUTPUTS
0   1BY6WEcLGh8j5v7          1560
1   1IF53ai7Xc0U56Y          1538
2   3PZuoBAID5Wc2HD          1540
3   7JYdWkrLSPkdwr4          1540
4   McdE0feGgRqW7Ca          1540
5   VHMLBKoKgIrUVDU          1541
6   WRmjgnKYAwPKWDb          1540
7   YxYtjZvoooNbGkE          1537
8   ZnxXDlPa8U1GXgE          1540
9   ZoEaEvLYb1n2sOq          1538
10  adLQvlD726eNBSB          1534
11  bvBOhCH3iADSZry          1563
12  iCRJl6heRkivqQ3          1540
13  ih0vzX44oOqAx2f          1538
14  pkci93gMrogZuBj          1538
15  rGa61gmuvPhdLxV          1537
16  sjndEbLyjtCKgGv          1542
17  uHbuxQJl8lW7ozc          1539
18  wCURE6d3bPkepu2          1542
19  z9Y9gH1T5YWrNuG          1546
20  zBIq5rxdHJRwDNY          1542
21  zVJPv84UY57bAof          1540